* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9fbfd;
  color: #1e1e1e;
  background-color: #e0e0e0;
}

/* Header */
.header {
  background-color: #0078d4;
  color: #fff;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 20px;
}

.header-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-logo-luna {
  font-size: 50px;
}

.header-logo-h1 {
  font-size: 40px;
}


/* Menú horizontal */
.nav-horizontal {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 28px;
}

.nav-horizontal li a {
  display: block;
  padding: 18px 25px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.nav-horizontal li a:hover {
  background-color: #fff;
  color: #0078d4 !important;
}

/* Submenú vertical */
.nav-vertical {
  position: absolute;
  display: none;
  width: 180px;
  background-color: #005a9e;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-horizontal li:hover .nav-vertical {
  display: block;
  list-style: none;
}

.nav-vertical li a {
  padding: 15px 20px;
  font-size: 18px;
  color: white;
  display: block;
}

.nav-horizontal-activo {
  background-color: #fff;
  color: #0078d4 !important;
}

/* Main */

/* Sección crear sueños */
.contenedor-principal-crear-suenio {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 40px 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #1e1e1e;
}

.contenedor-principal-crear-suenio-titulo {
  font-size: 40px;
  font-weight: bold;
}

.contenedor-principal-crear-suenio-formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.contenedor-principal-crear-suenio-formulario input {
  padding: 10px;
  border: 2px solid #0078d4;
  border-radius: 8px;
  font-size: 18px;
}

.contenedor-principal-crear-suenio-formulario textarea {
  padding: 10px;
  border: 2px solid #0078d4;
  border-radius: 8px;
  font-size: 18px;
  resize: none;
}

.contenedor-principal-crear-suenio-formulario-entrada {
  width: 100%;
}

.contenedor-principal-crear-suenio-formulario-emociones {
  width: 600px;
}

.contenedor-principal-crear-suenio-formulario-firma {
  width: 300px;
}

.contenedor-principal-crear-suenio-formulario-fecha {
  padding: 10px;
  width: 200px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contenedor-principal-crear-suenio-formulario-lucidez {
  padding: 8px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #0078d4;
  color: #1e1e1e;
  width: 300px;
}

.contenedor-principal-crear-suenio-formulario-lucidez label {
  font-weight: bold;
  font-size: 1rem;
  padding-right: 20px;
}

.contenedor-principal-crear-suenio-formulario-lucidez select {
  background-color: #ffffff;
  color: #1e1e1e;
  font-size: 1rem;
  padding: 10px;
  border-radius: 999px;
  border-color: #0078d4;
  border-style: solid;
}

.contenedor-principal-crear-suenio-error {
  color: red;
  display: none;
  font-size: 20px;
}

.contenedor-principal-crear-suenio-exito {
  color: green;
  display: none;
  font-size: 20px;
}

.contenedor-principal-crear-suenio-tipo {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.contenedor-principal-crear-suenio-tipo label {
  font-size: 20px;
  color: #1e1e1e;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.contenedor-principal-crear-suenio-tipo label input {
  accent-color: #0078d4;
}

/* Botón guardar sueño */
.contenedor-principal-crear-suenio-guardar {
  background-color: #0078d4;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 25px;
  height: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contenedor-principal-crear-suenio-guardar:hover {
  background-color: #005a9e;
  color: #FFFFFF;
}

/* Sección explorar sueños */
.contenedor-principal-explorar {
  border: 1px solid #1e1e1e;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 40px 20px;
  align-items: center;
}

.contenedor-principal-explorar h2 {
  font-size: 40px;
  font-weight: bold;
}

/* Tarjetas explorar */
.contenedor-principal-explorar-tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  justify-items: center;
  margin-top: 50px;
}

.contenedor-principal-explorar-tarjetas-tarjeta {
  text-decoration: none;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}

.contenedor-principal-explorar-tarjetas-tarjeta:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.contenedor-principal-explorar-tarjetas-tarjeta-icono {
  font-size: 50px;
  margin-bottom: 10px;
}

.contenedor-principal-explorar-tarjetas-tarjeta h3 {
  color: #1e1e1e;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contenedor-principal-explorar-tarjetas-tarjeta p {
  font-size: 18px;
  color: #555;
}