* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f9fbfd;
    color: #1e1e1e;
    background-color: #e0e0e0;
}

/* Header */
.header {
    background-color: #0078d4;
    color: #fff;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.header-logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-logo-luna {
    font-size: 50px;
}

.header-logo-h1 {
    font-size: 40px;
}

/* Menú horizontal */
.nav-horizontal {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 28px;
}

.nav-horizontal li a {
    display: block;
    padding: 18px 25px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.nav-horizontal li a:hover {
    background-color: #fff;
    color: #0078d4 !important;
}

/* Submenú vertical */
.nav-vertical {
    position: absolute;
    display: none;
    width: 180px;
    background-color: #005a9e;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-horizontal li:hover .nav-vertical {
    display: block;
    list-style: none;
}

.nav-vertical li a {
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    display: block;
}

.nav-horizontal-activo {
    background-color: #fff;
    color: #0078d4 !important;
}


/* secion perfil */
.contenedor-perfil {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.contenedor-perfil-seccion {
    border: 1px solid #1e1e1e;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    padding: 30px;
    max-width: 600px;
    width: 100%;
}

.contenedor-perfil-seccion-titulo {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    color: #1e1e1e;
}

.contenedor-perfil-seccion-formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contenedor-perfil-seccion-formulario label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #333;
}

.contenedor-perfil-seccion-formulario input,
.contenedor-perfil-seccion-formulario textarea {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #0078d4;
    font-size: 16px;
    margin-top: 5px;
    resize: none;
}

.contenedor-perfil-seccion-boton {
    padding: 12px;
    background-color: #0078d4;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contenedor-perfil-seccion-boton:hover {
    background-color: #005a9e;
}

.contenedor-perfil-seccion-boton-mensaje-error {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: red;
    display: none;
}

.contenedor-perfil-seccion-boton-mensaje-exito {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: green;
    display: none;
}